# Pandas

In [ ]:
from IPython.display import display, HTML
import pandas as pd
import numpy as np

# have plots render in notebook
%matplotlib inline

## Introduction

Pandas is a package that builds on the NumPy array structure by introducing ``DataFrame``s, which are essentially multidimensional arrays with attached row and column labels. 
Pandas is the tool of choice for the sort of "data wrangling" tasks that occupy much of a data scientist's time.
In this (short!) introduction to pandas we will introduce the basic functionalities of pandas which you will find useful on a day to day basis as a data scientist.

## Pandas data structures

Panda's has three fundamental data structures: the ``Series``, ``DataFrame``, and ``Index``.

### Series

A Pandas ``Series`` is a one-dimensional array of indexed data.
One way to create a series is as follows:

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=["a", "b", "c", "d"])
data

Get the values

In [ ]:
data.values

Get the index

In [ ]:
data.index

Get the second row using integer indexing

In [ ]:
data.iloc[1]

**Task:** Get the first and second elements of the series using `.iloc`

In [ ]:
# Your code here

Get a slice of rows

In [ ]:
data.iloc[1:3]

Get the same row using using the index

In [ ]:
data.loc["b"]

Get the same slice using the index

In [ ]:
data.loc["b":"c"]

There are many ways to create a series. One way is from a dictionary.

In [ ]:
age_dict = {"Max": 26, "Andy": 25, "Ben": 28, "Sarah": 26, "Anne": 21}

age = pd.Series(age_dict)
age

### Dataframe

The next fundamental structure in Pandas is the ``DataFrame``. If a ``Series`` is an analog of a one-dimensional array with flexible indices, a ``DataFrame`` is an analog of a two-dimensional array with both flexible row indices and flexible column names.

In [ ]:
height_dict = {"Max": 170, "Andy": 164, "Ben": 175, "Sarah": 165, "Anne": 160}

height = pd.Series(height_dict)
height

In [ ]:
people = pd.DataFrame({"age": age, "height": height})
people

Like the ``Series`` object, the ``DataFrame`` has an ``index`` attribute that gives access to the index labels:

In [ ]:
people.index

Additionally, the ``DataFrame`` has a ``columns`` attribute, which is an ``Index`` object holding the column labels:

In [ ]:
people.columns

Get the age of Andy

In [ ]:
people.loc["Andy", "age"]

**Task:** Find the sum of Ben and Sarah's ages.

In [ ]:
# Your code here

Access the age series.

In [ ]:
people["age"]

This is a convenient shorthand for:

In [ ]:
people.loc[:, "age"]

Columns can also be accessed using a SQL-like syntax:

In [ ]:
people.age

Although **new columns cannot be defined in this way**, and the name must be a valid python attribute name.

## Missing data

In the real world data is rarely clean and homogeneous. In particular, many interesting datasets will have some amount of data missing. Pandas uses ``None`` or ``NaN`` (acronym for *Not a Number*) to represent missing data.

``None`` is a Python singleton object that is often used for missing data in Python code. Because it is a Python object, ``None`` cannot be used in any arbitrary NumPy/Pandas array, but only in arrays with data type 'object'.

In [ ]:
vals1 = np.array([1, None, 3, 4])
vals1

The use of Python objects in an array also means that if you perform aggregations like `sum()` or `min()` across an array with a None value, you will generally get an error:

In [ ]:
vals1.sum()

The other missing data representation, ``NaN``, is different: it is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation.  You should be aware that NaN is a bit like a data virusâ€“it infects any other object it touches. Regardless of the operation, the result of arithmetic with NaN will be another NaN:

In [ ]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.sum()

NumPy does provide some special aggregations that will ignore these missing values:

In [ ]:
np.nansum(vals2)

``NaN`` and ``None`` both have their place, and Pandas is built to handle the two of them nearly interchangeably, converting between them where appropriate:

In [ ]:
data = pd.Series([1, np.nan, "hello", None])
data

Where are the null values?

In [ ]:
data.isnull()

Drop the null values

In [ ]:
data.dropna()

Replace the null values with zeros

In [ ]:
data.fillna(0)

Notice that all of these methods return a new `series` - the original `series` is unchanged.

In [ ]:
data

To modify the orignal `series` use the `inplace` keyword or (better) reassign the series.

In [ ]:
data = data.dropna()
data

**TASK**: Fill the NaN values with the median of each column. Why might imputing medians be a bad idea in this case?

In [ ]:
height_cm = pd.Series(
    {
        "Del": 165,
        "Rodney": 195,
        "Denzel": np.nan,
        "Trigger": 188,
        "Boycey": 179,
        "Raquel": np.nan,
        "Cassandra": 169,
        "Uncle Albert": 173,
    }
)
weight_kg = pd.Series(
    {
        "Del": 82,
        "Rodney": 72,
        "Denzel": 85,
        "Trigger": np.nan,
        "Boycey": 80,
        "Raquel": 57,
        "Cassandra": np.nan,
        "Uncle Albert": 70,
    }
)

data = pd.DataFrame({"height_cm": height_cm, "weight_kg": weight_kg})

# Your code here

## Combining Datasets: Concat, Merge and Join

``pd.concat()`` can be used for a simple concatenation of ``Series`` or ``DataFrame`` objects

In [ ]:
s1 = pd.Series(["Alpha", "Bravo", "Charlie"])
s1

In [ ]:
s2 = pd.Series(["Delta", "Echo", "Foxtrot"])
s2

Perform a row-wise concatenation.

In [ ]:
pd.concat([s1, s2], ignore_index=True)

**Task:** Perform column-wise concatenation (*Hint: set the axis parameter*)

In [ ]:
# Your code here

In this example the integer index has no fundamental significance, so we tell pandas to ignore it when concatenating the two `series`.

In [ ]:
df1 = pd.DataFrame(
    {
        "employee": ["John", "Simon", "Lucy", "Sue"],
        "job": ["Data Scientist", "Data Engineer", "Software Developer", "HR"],
    }
)
df1

In [ ]:
df2 = pd.DataFrame(
    {
        "employee": ["Sue", "Simon", "Lucy", "John"],
        "years_at_company": [1, 3, 2, 1],
    }
)
df2

To combine this information into a single ``DataFrame``, we can use the ``pd.merge()`` function:

In [ ]:
df3 = pd.merge(df1, df2)
df3

The common column 'employee' is automatically chosen as the join column, althogh it never hurts to be explict (would recommend always being explicit).

In [ ]:
df3 = pd.merge(df1, df2, on="employee", how="inner")
df3

A common type of transformation in machine learning is converting a categorical variable into a 'dummy' matrix. Pandas has a `get_dummies` method for this purpose. This returns a "One-Hot encoded" version of the column.

In [ ]:
df = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"], "data": range(6)})
df

In [ ]:
pd.get_dummies(df["key"])

We can add this matrix to the original dataframe using the `join` method, which does a join on the index.

In [ ]:
df.join(pd.get_dummies(df["key"]))

# Vectorised String Operations

These are very useful when working with real-world (i.e. messy) data.

In [ ]:
data = ["london", "LEEDS", None, "CamBridge"]
names = pd.Series(data)
names

Capitalise the names of the cities.

In [ ]:
names.str.capitalize()

Using tab completion on this ``str`` attribute will list all the vectorised string methods available to Pandas. Or, as always, see the documentation.

# Dealing with real data

## Example usage of Pandas with King County, USA house sales dataset

Pandas offers many convenience functions that are useful within the day-to-day data science workflow. These include reading in data, taking subsets of dataframes, vectorised operations on columns, applying custom functions to columns or entire dataframes.

For the remainder of this notebook, we will work with the house sales data from King County, WA, using some of Pandas' inbuilt functionality, interrogate the dataset for some key information, and finally build a model to predict house prices at the point of sale.

First, download and unzip the data.

In [ ]:
from pathlib import Path

if not Path('kc-house-data.csv').exists():
    !wget https://s3-eu-west-1.amazonaws.com/faculty-client-teaching-materials/python-for-ds/kc-house-data.csv

### Read in pandas dataframe from CSV file

In [ ]:
df = pd.read_csv("kc-house-data.csv")
df[:5]

#### The `columns` attribute is useful for reference

In [ ]:
df.columns

### We can use convenient column names for slicing dataframe to get information of interest, rather than by numerical indexing used in other data structures

- The columns are returned to you in the order of the provided list

- You can use `df.head()` to show a 5-row preview of the DF, or just `df[:5]`.

In [ ]:
df[["date", "bedrooms", "bathrooms", "price"]].head()

Similarly, we can view descriptive statistics for the DF using `.describe()` method

In [ ]:
df.describe()

#### The `.info()` method is also useful for quickly understanding the composition of a DF

### Sampling

If you have a lot of data, you can take a random sub-sample from your dataset.

In [ ]:
sample = df.sample(frac=0.1)
sample.shape

### Datetimes are conveniently integrated with pandas

In [ ]:
# Convert the elements of the date column from strings into datetime objects
df["date"] = pd.to_datetime(df["date"])
df[:3]

### Pandas infers the Datetime format

In [ ]:
pd.to_datetime("09-16-2019").day_name()

In [ ]:
pd.to_datetime("09-19-2019").day_name()

In [ ]:
pd.to_datetime("19-09-2019").day_name()

In [ ]:
pd.to_datetime("19-Sep-2019").day_name()

### However this can cause problems

The default format is month-day-year.

In [ ]:
pd.to_datetime("01-01-2019").month_name()

Which can cause problems if for example you have a price which changes on the first of every month and the dates are in a UK format...

In [ ]:
pd.to_datetime("01-01-2019").month_name(), pd.to_datetime(
    "01-02-2019"
).month_name(), pd.to_datetime("01-03-2019").month_name()

The solution is to enforce a format

In [ ]:
pd.to_datetime("01-02-2019", format="%d-%m-%Y").month_name()

More information on datetime formatting can be found in the [documentation](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior) for datetime strftime and strptime

And if manually entering dates, use month names

In [ ]:
pd.to_datetime("01-Feb-2019")

### Sorting dataframes

- Can sort a dataframe using the .sort_values() method.
- Sort the sales by date in descending order below.

In [ ]:
# Hint - set the "ascending" argument of the method.
df = df.sort_values(by="date", ascending=False)
df[:5]

### Vectorised column operations are simple in Pandas

Say we want to extract information from particular columns using a simple (in this case) transformation. We can do this quickly using vectorised column operations.

In [ ]:
# Calculate the approx age of all houses at time of sale in 1 line of code only.

df["age_at_sale"] = df["date"] - pd.to_datetime("#---Your code here----")
df["age_at_sale"][:4]

### Aggregation and Grouping

Pandas offers many useful functions for doing this; these can be very handy for extracting useful information from real-world datasets.

Groupby breaks up a dataframe depending on the value of a specified key, computes some function within the individual groups (usually an aggregate, transformation, or filtering), and finally merges the results of these into an output array.

In [ ]:
# Group by the id of the houses
df.groupby("id")

Notice that what is returned is a `DataFrameGroupBy` object. Nothing is actually computed until we apply a function to the groups (such as `sum()`, `count()`, `mean()`, `nunique()`, among others). For example, we can how many times each house was sold during the time period covered by the dataset.

In [ ]:
df.groupby("id").count()
# Note that only one of the resulting columns is actually useful...

We could also find how many bedrooms changed hands each day (in case you were curious about this...)

In [ ]:
# Helpful to restrict dataset to columns of interest
df[["date", "bedrooms"]].groupby("date").sum()

Looks like 24 May 2015 was a poor day for sales...

Many optimized aggregation methods are built in. To use your own aggretation function, pass any function that aggregates an array to the `agg` method. Also look into `transform`, which acts on a `series` and returns an array/`series` of the same size, and `apply`, which is more general and can return a dataframe, a series or a scalar.

### Multi-indexing

#### Each row represents a sale of a particular house - these houses can be uniquely defined by the "id" and the "date" columns.

- For events occurring to a population at many points in time, it can be convenient to index a dataframe according to both id and time features.
- Pandas offers Multi-Index functionality - set the index to multi-index in the cell below

In [ ]:
# Use .set_index() method
df.set_index(
    ["id", "date"], inplace=True
)  # use inplace=True to operate directly on DF
df[:5]

We won't dwell any more on multi-indexing here, but it can be very useful for problems involving a range of customers operating in time (e.g. purchasing history of the customer base of a retailer).

If you want to reset the index, you can do so using `.reset_index()`

In [ ]:
df.reset_index(inplace=True)
df[:4]

### Pandas wraps `matplotlib` for convenient quick plotting functionalities.

This can be helpful for quickly interrogating your dataset, though I would not recommending showing these quick plots in any important presentation...

#### Plot the distribution of bedroom numbers for houses in King County

In [ ]:
df.bedrooms.value_counts().sort_index().plot(kind="bar")

#### You can also use the `.hist()` method for plotting histograms for distributions of continuous variables

#### Plot the distribution of house sale prices

In [ ]:
df.price.hist(bins=100, range=(0, 3000000))

Plot house prices against bedroom number

In [ ]:
df.plot(x="bedrooms", y="price", kind="scatter")

#### The outlier point at 33 bedrooms is most likely an erroneous data point, and should probably be 3 bedrooms - otherwise a 33 bedroom house for \$640,000 is an absolute bargain!

In [ ]:
df.loc[df.bedrooms >= 23]

#### Let's do the same for square foot living space

In [ ]:
#Complete the line of code below
df.plot(<Your code here> ,kind='scatter')

For the following exercises, run the cell below to reset the multi-index

In [ ]:
df.reset_index(inplace=True)

## Some more housing-based exercises 
In which year were houses, on average, built with the largest square foot living space? (Assume nobody made any massive extensions...)

In [ ]:
# Your code here

How many 3 bedroom houses sold were built in 2009?

In [ ]:
# Your code here

Plot the number of houses sold each day (in 1 line of code)

In [ ]:
# Your code here

Calculate the median number of bathrooms in waterfront houses with 3 bedrooms

In [ ]:
# Your code here

Find the top 10 most expensive property sales with more than 4 bathrooms

In [ ]:
# Your code here

## Credit

- Adapted from a notebook created by Nick Robinson [Github], and the course given by Liam Coatman.(https://github.com/nickrobinson251/py-lectures)
- Some of this notebook edits and builds on code found in Python Data Science Handbook by Jake VanderPlass.

In [ ]:
HTML(
    """
<style>
.pretty {
  color: #FA7268;
  font: proxima-nova;
  }
</style>

<h1 class="pretty">Good luck!</h1>
"""
)